<!-- header section -->
<div class="navbar">
    <div class="user">
        
    </div>
    <div class="all-menu">
        <div class="left-menu">
            <a class="new-task" href="/dashboard/add">+ เพิ่มงาน</a>
            <nav class="pages">
                <ul class="each-page">
                    <li>
                        <a href="/dashboard">โฮมเพจ</a>
                    </li>
                    <li>
                        <a href="/timeline">เวลา</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="right-menu">
            <div class="teammate-menu">
                <div class="see-teammate">เพื่อนร่วมทีม</div>
            </div>
            <div class="invite-to-project">
                <form id="modal" class="invite-to-project" method="post">
                    <button type="submit" class="invite-to-project-btn">เชิญ</button>
                </form>
            </div>
            <div class="logout">
                <a href="/logout" class="logout-btn">ออกจากระบบ</a>
            </div>
        </div>
    </div>
</div>