<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/viewCard.css">
    <link rel="stylesheet" href="/css/addcard.css">
    <title>Document</title>
</head>
<body>
    <div class="navigation">
        <a class="back-to-dashboard" href="/Dashboard"><h1>บอร์ด</h1></a>
        <p class="card-title"><h2>/ เพิ่มงาน</h2></p>
    </div>
    
    <div class="task-form-box">
        <form action="/dashboard/add" method="POST" class="task-form">
            <!-- <div class="add-task-title">เพิ่มงาน</div> -->

            <input type="text" placeholder="ชื่องาน" value="" name="title" id="title">
            <textarea class="detail-task" placeholder="รายละเอียดงาน" name="body" id="body" cols="30" rows="10"></textarea>
            <input type="text" placeholder="ผู้รับผิดชอบ" value="" name="responsiblePerson" id="responsiblePerson">
            <input type="date" placeholder="กำหนดส่ง" value="" name="deadline" id="deadline">
            <input type="text" placeholder="สถานะ" value="" name="workstatus" id="workstatus">
            <select name="" id="">
                <option value="">asdfsadfaf</option>
                <option value="">asdfsasdf</option>
                <option value="">asdfsadfqwewqe</option>
            </select>
            <button type="submit">+ เพิ่มงาน</button>
        </form>
    </div>
</body>
</html>